---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
  class?: string;
  context?: "neutral" | "brand";
  href: string;
  iconLeading?: string;
  iconTrailing?: string;
  variant?: "solid" | "flat" | "outline";
}

const {
  class: className,
  context = "neutral",
  href,
  iconLeading,
  iconTrailing,
  variant = "solid",
  ...props
} = Astro.props;
---

<a
  class:list={[`link link--${context} link--${variant}`, className]}
  href={href}
  {...props}
>
  {iconLeading && <Icon name={iconLeading} />}
  <slot />
  {iconTrailing && <Icon name={iconTrailing} />}
</a>

<style>
  .link {
    display: inline-flex;
    inline-size: fit-content;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-weight: 500;
    transition: all var(--motion-transition-duration);
  }

  :where(.link--solid, .link--outline) {
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
  }

  :where(.link--solid:active) {
    scale: 0.96;
  }

  :where(.link--solid.link--brand) {
    background-color: var(--color-background-brand);
    color: var(--color-foreground-inverse);
  }

  :where(.link--solid.link--neutral) {
    background-color: var(--color-background-inverse);
    color: var(--color-foreground-inverse);
  }

  :where(.link--flat) {
    background-color: transparent;
    padding: 0;
  }

  :where(.link--flat.link--brand) {
    color: var(--color-foreground-brand);
  }

  :where(.link--flat.link--neutral) {
    color: var(--color-foreground-default);
  }

  :where(.link--outline) {
    border-width: 1px;
    border-style: solid;
  }

  :where(.link--outline.link--brand) {
    border-color: var(--color-border-brand);
    color: var(--color-foreground-brand);
  }

  :where(.link--outline.link--neutral) {
    border-color: var(--color-border-default);
    color: var(--color-foreground-default);
  }
</style>
