---
import { Icon } from "astro-icon/components";

interface Props {
  context?: "neutral" | "brand";
  href: string;
  iconLeading?: string;
  iconTrailing?: string;
  variant?: "solid" | "flat";
}

const {
  context = "neutral",
  href,
  iconLeading,
  iconTrailing,
  variant = "solid",
} = Astro.props;
---

<a class=`link link--${context} link--${variant}` href={href}>
  {iconLeading && <Icon name={iconLeading} />}
  <slot />
  {iconTrailing && <Icon name={iconTrailing} />}
</a>

<style>
  .link {
    display: inline-flex;
    inline-size: fit-content;
    align-items: center;
    gap: 0.25rem;
    transition: all var(--motion-transition-duration);
  }

  .link--brand {
    color: var(--color-action-foreground-brand-default);
  }

  .link--neutral {
    color: var(--color-action-foreground-default-neutral-inverse);
  }

  .link--flat {
    font-weight: 400;
  }

  .link--solid {
    background-color: var(--color-action-background-neutral-default);
    color: var(--color-action-foreground-default-neutral);
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
  }

  .link--solid:active {
    scale: 0.96;
  }
</style>
